<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1>제목</h1>
    <div>내용</div>
    <h1 th:text="${question.subject}"></h1>
    <div th:text="${question.content}"></div>

    <div class="my-3">
        <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
           th:text="수정"></a>
    </div>
    <form th:action="@{|/question/delete/${question.id}|}" th:method="post">
        <button type="submit" class="btn btn-sm btn-outline-secondary"
                sec:authorize="isAuthenticated()"
                th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                th:text="삭제">삭제</button>
    </form>


    <textarea sec:authorize="isAnonymous()" disabled th:field="*{question.content}" class="form-control" rows="10"></textarea>
    <textarea sec:authorize="isAuthenticated()" th:field="*{question.content}" class="form-control" rows="10"></textarea>


    <div class="mb-2">
        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
    </div>


    <a th:href="@{/question/list}" class="btn btn-primary">리스트로 이동</a>
</div>
</body>
</html>
